@using EcommerceWeb.Presentation.Common
@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("Partials/_Slider")


@* @await Html.PartialAsync("Product/Index") *@

@{
    var page = int.TryParse(Context.Request.Query["Page"], out int pageValue) ? pageValue : 1;
    var search = Context.Request.Query["Search"].ToString();

}

<div class="m-t-80">
    @await Component.InvokeAsync("ProductList", new PageQuery { Page = page, SearchTerm = search })
</div>

