
@using EcommerceWeb.Mvc.Models.Products
@using EcommerceWeb.Presentation.Common
@model Paginated<ProductVM> 

@{
    ViewData["Title"] = "Product List";
}
<div class="m-t-80">
    @await Component.InvokeAsync("ProductList")
</div>
