@using EcommerceWeb.Mvc.Models.Authentication
@model RegisterRequest

<form asp-action="Register" asp-controller="Authentication" method="post" class="signup" id="myForm">
    <div class="field">
        <input type="text" placeholder="Email Address" name="request.Email" required>
    </div>
    <div id="msg" data-message="@ViewBag.ErrorMessage"></div>
    <div class="field">
        <input type="password" placeholder="Password" name="request.Password" required>
    </div>
    <div class="field">
        <input type="password" placeholder="Confirm password" name="confirmedPassword" required>
    </div>
    <div class="field">
        <input type="tel" placeholder="Number phone" name="request.NumberPhone" required>
    </div>
    <div class="field">
        <input type="text" placeholder="Address" name="request.Address" required>
    </div>
    <div class="field btn">
        <div class="btn-layer"></div>
        <input type="submit" value="Signup" id="signup-btn">
    </div>
    <div class="signup-link">Already have an account? <a href="">Login</a></div>
</form>
