@using EcommerceWeb.Mvc.Models.Categories
@model List<CategoryVM>
@section PageScripts {
    <script src="~/js/side-bar.js"></script>
}


<aside class="sidebar-wrapper">
    <div class="sidebar-container">
        <div class="h-16 flex-center text-center border-b border-gray-300">
            <h1 class="text-xl font-semibold">
                RookEcomShop
            </h1>
        </div>
        <div class="px-6">
            <section class="sidebar-section">
                <h3 class="text-lg font-semibold mb-3">Category</h3>
                <ul class="category-list space-y-4">
                    @foreach (var category in @Model)
                    {
                        <li>
                            <a asp-controller="Collections" asp-action="Details" asp-route-categoryName="@category.Name"
                               class="category-item text-gray-500 font-semibold hover:text-indigo-600">
                                @category.Name
                            </a>
                        </li>
                    }
                </ul>
            </section>

            <div class="h-[1px] w-full bg-gray-300 my-6"></div>

            <section class="sidebar-section">
                <h3 class="text-lg font-semibold mb-3">Filter by:</h3>
                <ul class="category-list">

                    <li class="category-item">T-Shirt</li>
                    <li class="category-item">T-Shirt</li>
                    <li class="category-item">T-Shirt</li>
                    <li class="category-item">T-Shirt</li>

                </ul>
            </section>
        </div>
    </div>
</aside>
